<div id="create_header">
    <input ng-model="quizName" ng-change="verifyName()" id="quiz_name" type="text" class="teal-medium text-input large" placeholder="Quiz Name">
    <span style="font-family:Dosis" ng-hide="validName">Quiz name is required! No special characters!</span>
</div>
<div class="flex" style="overflow-y:auto; padding:2em 0;">
    <maker-question ng-repeat="question in questions"
                    points="question.points" 
                    question-name="question.name" 
                    question-type="question.type"
                    question-text="question.text"
                    possible-answers="question.answers"
                    class="flex-container horizontal"></maker-question>

    <div class="noselect">
        <span ng-click="publishQuiz()" class="nope button teal-dark shadow noselect">publish</span>
        <span ng-click="saveDraft()" class="nope button teal-dark shadow noselect">save draft</span>
        <span ng-click="cancelConfirm()" class="nope button teal-dark shadow noselect">cancel</span>
    </div>
</div>


<div class="popup light-text flex-container">
    <div class="card">
        <div class="noselect">{{popupText}}</div>
        <hr/>
        <div class="flex-container horizontal">
          <span class="button flex teal-dark shadow noselect" ng-click="toDashboard()">{{leftButton}}</span>
          <span class="button flex teal-dark shadow noselect" ng-click="popupToggle()">{{rightButton}}</span>
        </div>
    </div>
</div>

