<div id="finishedQuizStats">
	<div class="flex-container horizontal toolbar teal-medium shadow">
		<span>{{quizTitle}}</span>
	</div>
	<div id="overallStats" class="flex-container horizontal">
		<div class="flex flex-container vertical">
			<span>Available 7/20/2015 - {{closeDate}}</span>
		</div>
		<div>
			<div class="HUGETEXT">{{numQuestions}}</div>
			<div>questions</div>
		</div>
		<div>
			<div class="HUGETEXT">{{max}}</div>
			<div>Max Points</div>
		</div>
		<div>
			<div class="HUGETEXT">4</div>
			<div>Avg Score</div>
		</div>
		<div>
			<div class="HUGETEXT">33%</div>
			<div>100/256 Employees</div>
		</div>
	</div>
</div>