
<div id="categoryBar" class="horizontal shadow header teal-medium">
	<span id="liveTab" class="noselect" ng-click="selectCategory('live')" ng-class="{'selectedCategory':selectedCategory==='live'}">LIVE</span>
    <span id="finishedTab" class="noselect" ng-click="selectCategory('finished')" ng-class="{'selectedCategory':selectedCategory==='finished'}">FINISHED</span>
    <span id="scheduledTab" class="noselect" ng-click="selectCategory('scheduled')" ng-class="{'selectedCategory':selectedCategory==='scheduled'}">SCHEDULED</span>
    <span id="draftsTab" class="noselect" ng-click="selectCategory('drafts')" ng-class="{'selectedCategory':selectedCategory==='drafts'}">DRAFTS</span>
</div>
<div id="categoryContainer" class="flex">
	<div id="live" ng-show="selectedCategory==='live'" class="categoryView">
		<h3 style="text-align:center">Live Content</h3>
	</div>
	<div id="finished" ng-show="selectedCategory==='finished'" class="categoryView">
		<a ng-repeat="quiz in finished" class="finished flex-container horizontal" href='#/manage/finished/{{quiz.id}}'>
			<div class="info flex">
				<div class="quizName">{{quiz.title}}</div>
				<div class="subText">{{getDateRange(quiz.publish, quiz.results)}}</div>
			</div>
			<div class="purple-light percent-container">
				<div class="percent">{{calcPercent(quiz.employees,totalEmployees)}}%</div>
				<div>{{quiz.employees}}/{{totalEmployees}} employees</div>
			</div>
		</a>
	</div>
	<div id="scheduled" ng-show="selectedCategory==='scheduled'" class="categoryView">
		<h3 style="text-align:center">Scheduled Content</h3>
	</div>
	<div id="drafts" ng-show="selectedCategory==='drafts'" class="categoryView">
		<h3 style="text-align:center">Drafts Content</h3>
	</div>
</div>

