
<div id="categoryBar" class="flex-container horizontal shadow header">
    <span id="finishedTab" class="noselect" ng-click="selectCategory('finished')" ng-class="{'selectedCategory':selectedCategory==='finished'}">Finished</span>
    <span id="scheduledTab" class="noselect" ng-click="selectCategory('scheduled')" ng-class="{'selectedCategory':selectedCategory==='scheduled'}">Scheduled</span>
    <span id="draftsTab" class="noselect" ng-click="selectCategory('drafts')" ng-class="{'selectedCategory':selectedCategory==='drafts'}">Drafts</span>
</div>
<!-- TODO: Make these toggle based on the $scope.selectedCategory -->
<div id="categoryContainer" class="flex">
	<div id="finished" ng-show="selectedCategory==='finished'" class="categoryView">
		<h3 style="text-align:center">Finished Content</h3>
	</div>
	<div id="scheduled" ng-show="selectedCategory==='scheduled'" class="categoryView">
		<h3 style="text-align:center">Scheduled Content</h3>
	</div>
	<div id="drafts" ng-show="selectedCategory==='drafts'" class="categoryView">
		<h3 style="text-align:center">Drafts Content</h3>
	</div>
</div>

