<div id="create_header" class="shadow">
	<div id="publish-quiz-name" name="quiz-name">{{quizName}}</div>
</div>

<div class="flex-container publish-overview shadow card">
	<span class="flex">
		<div class="publish-header">Publish Details</div>
		<div class="publish-label">
			Avaliable From: <input name="start-date" class="publish-input" type="date">
			<input name="end-date" class="publish-input" type="date">
		</div>
	</span>
</div>
<!-- <div class="publish-review">
	<div class="publish-header">Review Questions</div>
</div> -->

<div id="makerButtons" class="noselect">
    <span name="publish" ng-click="publish()" class="nope button teal-dark shadow noselect">{{published ? "update" : "publish"}}</span>
	<span name="edit" ng-click="draft()" class="nope button teal-dark shadow noselect">{{published ? "revert to draft" : "save as draft"}}</span>
	<a href="#/create/{{quizId}}" name="edit" class="nope button teal-dark shadow noselect">back</a>
</div>

<div class="flex-container popover-wrapper">
    <div class="overlay plum-dark noselect flex-container" ng-click="hidePopOver()"></div>
    <div class="pop-over shadow noselect">
        <div class="header">Warning</div>
        <div class="divider purple-light"></div>
        <span class="sub-text">{{popupText}}</span>
        <div class="flex-container button-container">
            <span class="flex"></span>
            <div class="button" ng-class='{remove: leftButton == ""}' ng-click="leftAction()">{{leftButton}}</div>
            <div class="button" ng-click="rightAction()">{{rightButton}}</div>
        <div>
    </div>
</div>