<div id="create_header" class="shadow">
	<div>{{quizName}}</div>
</div>

<div class="flex-container publish-overview">
	<span class="flex">
		<div class="publish-detail">Publish Details</div>
		<div>
			<input class="publish-input" type="date" min="" value="">
			<input class="publish-input" type="date" min="" value="">
		</div>
		<div class="publish-send">Send to:
			<input class="publish-input" type="text">
		</div>
		<!-- <div class="flex-container publish-totals">
			<span class="flex"><div class="publish-number">2</div>questions</span>
			<span class="flex"><div class="publish-number">7</div>max score</span>
			<span class="flex"><div class="publish-number">260</div>employees</span>
		</div> -->
	</span>
	<span class="flex">
		<h1>TODO: <br> INSERT CALENDAR HERE</h1>	
	</span>
</div>
