<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" type="image/png" href="favicon.png"/>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Qwizard">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#159479">

    <!-- Images -->
    <link rel="icon" sizes="192x192" href="../images/app-icon.png">
    <link rel="apple-touch-icon" href="../images/pple-touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../images/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../images/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../images/touch-icon-ipad-retina.png">

    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
    <script src="/angular/angular.min.js"></script>
    <script>history.replaceState(null, '', '/')</script>
    <title>Qwizard</title>
</head>
<body ng-app>
    <div id="center">
        <img src="images/logo-square-12.svg" width="180">
        {{#if showBadCredentialsError}}
            <div id="error">
                ERROR: Username and/or Password is incorrect. <br><a href="https://pwchng.asynchrony.com/username/new">Forgot password?</a>
            </div>
        {{/if}}
        <form name="login" action="/" method="post">
            <input type="text" placeholder="username" autocorrect="off" autocapitalize="off" name="username">
            <input type="password" placeholder="password" name="password">
            <button id="submit" type="submit">login</button>
        </form>
    </div>
</body>
</html>