<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" type="image/png" href="favicon.png"/>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
    <script src="/angular/angular.min.js"></script>
    <script>history.replaceState(null, '', '/')</script>
    <title>Qwizard</title>
</head>
<body ng-app>
    <div id="center">
        <img src="images/logo-square-12.svg" width="180">
        {{#if showBadCredentialsError}}
            <div id="error">
                ERROR: Username and/or Password is incorrect. <br><a href="https://pwchng.asynchrony.com/username/new">Forgot password?</a>
            </div>
        {{/if}}
        <form name="login" action="/" method="post">
            <input type="text" placeholder="username" autocorrect="off" autocapitalize="off" name="username">
            <input type="password" placeholder="password" name="password">
            <button id="submit" type="submit">login</button>
        </form>
    </div>
</body>
</html>