@import url(http://fonts.googleapis.com/css?family=Signika:300,600);
@import url(http://fonts.googleapis.com/css?family=Dosis:200,300,500);

/*Convenience Classes */
.shadow {
    box-shadow: 0px 0px 5px 1px #333;
}

.left{
    float: left;
}

.right{
    float: right;
}

.flex-container{
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.shadow{
    box-shadow: 1px 1px 2px rgba(73,73,73,.4);
}

.flex {
    flex-grow: 1;
}

.logo {
    height:1em;
    color:#FFFFF5;
}

.hidden{
    visibility: hidden;
}

/* Primary Teal */
.teal-dark {background-color: #17a587;}
.teal-medium {background-color: #5dc0ab;}
.teal-light {background-color: #a2dbcf;}

/* Secondary Purple */
.purple-dark {background-color:#a3709c;}
.purple-medium {background-color:#ac7ea6;}
.purple-light {background-color:#f1eaf0;}

/* Deep Plum */
.plum-dark {background-color: #332532;}
.plum-medium {background-color: #5c515b;}
.plum-light {background-color:#70666f;}

/*Text*/
.light-text {color:#fffff5;}

* {
    box-sizing: border-box;
}

body {
    position:absolute;
    top:0;
    left:0;
    margin: 0;
    padding:0;
    height:100%;
    width:100%;
}

#navbar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding:.75em;
    font-family:"Signika";
    font-weight:600;
    font-size: 2em;
    color: #fffff5;
    height: 2em;
    overflow: hidden;
}

#navbar .button {
    padding: .15em;
    height: 1em;
}

/*Area for content Note: this will only scroll up+down, never left+right */
#content {
    display:block;
    position:absolute;
    top:4em;  /*This has to match the navbar height i.e. 2x navbar em height value*/
    left:0;
    right:0;
    bottom:0;
    overflow-x:hidden;
    overflow-y:auto;
}

button{
    border: none;
    outline: none;
    color: white;
    padding: 0.5em;
    margin: 0.2em auto;
}

.answer{
    width: 18em;
    margin: 0.2em auto;
}

.nav-btn{
    width: 8.8em;
    margin: 0.2em 0;
}

.center{
    text-align: center;
    width: 100%;
}