@import url(http://fonts.googleapis.com/css?family=Signika:300,600);
@import url(http://fonts.googleapis.com/css?family=Dosis:200,300,500);

/*Convenience Classes */
.subtext {
    font-size:.7em;
    font-weight:300;
}

.left{
    float: left;
}

.right{
    float: right;
}

.tl{
    text-align: left;
}

.tr{
    text-align: right;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-focus-ring-color: rgba(0,0,0,0);
}

.flex-container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}



.flex {
    -ms-flex: 1 1 0.000000001px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0.000000001px;
    flex-basis: 0.000000001px;
}
.horizontal {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.vertical {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.shadow{
    box-shadow: 1px 1px 2px rgba(73,73,73,.4);
}
.logo {
    height:1em;
    color:#FFFFF5;
    margin-left: -0.5em
}

.hidden{
    opacity:0;
    pointer-events:none;
}
.no-interact {
    pointer-events:none;
}

.remove {
    display: none;
}

.center{
    text-align: center;
    width: 100%;
}

.button {
    position:relative;
    font-family: "Dosis";
    text-align: center;
    padding:.5em 0;
    color: white;
    cursor: pointer;
}

/* Primary Teal */
.teal-dark {background-color: #17a587;}
.teal-medium {background-color: #5dc0ab;}
.teal-light {background-color: #a2dbcf;}

/* Secondary Purple */
.purple-dark {background-color:#a3709c;}
.purple-medium {background-color:#ac7ea6;}
.purple-light {background-color:#f1eaf0;}

/* Deep Plum */
.plum-dark {background-color: #332532;}
.plum-medium {background-color: #5c515b;}
.plum-light {background-color:#70666f;}

/* Orange */
.orange-medium {background-color: #fa9467;}

/*Text*/
.light-text {color:#fffff5;}

* {
    box-sizing: border-box;
}

body {
    position:absolute;
    top:0;
    left:0;
    margin: 0;
    padding:0;
    height:100%;
    width:100%;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

#main-content {
}

#drawer {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    font-family:"Signika";
    font-weight:600;
    color: #111111;
    height: 100%;
    overflow: hidden;
    z-index: 10;
    -webkit-transform: scale(.00001) translateY(-50em) ;
    transform: scale(.00001) translateY(-50em) ;
    -webkit-transition:.35s;
    transition:.25s;
}

#drawer.visible {
    -webkit-transform: scale(1) translateY(0em);
    transform:scale(1) translateY(0em);
    transition:.5s;
}

.toolbar {
    position:relative;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    align-items: center;
    padding:0 .20em;
    font-family:"Signika";
    font-weight:600;
    font-size: 2em;
    color: #fffff5;
    height: 2em;
    overflow: hidden;
    z-index:2;
}

.toolbar .button {
    padding: .15em;
    height: 1em;
}

.notification {
    padding:.65em;
    font-family: "Dosis";
    font-size:;
    font-weight:300;
    -webkit-flex-wrap:nowrap;
    flex-wrap:nowrap;
    -webkit-align-items:center;
    align-items:center;
    font-size:.75em;
}

.notification .close {
    font-size:1.25em;
    cursor:pointer;
    font-weight:600;
    height:2em;
    width:2em;
    fill: #fffff5;
    padding:.5em;
    margin: 0 .2em;
}

.menu {
    align-items:center;
    align-content:center;
    justify-content:center;
}

.menu .item {
    width: 100%;
}

.menu .item:hover {
    background-color:#70666f;
}

.menu .item span{
    margin: auto;
    text-align: center;
    font-family: Dosis;
    text-weight: 200;
}

.menu .item  svg{
    fill: #fffff5;
    height: 3em;
    display: block;
    opacity:.4;
}
.menu .item:hover svg, .menu .item:active svg,.menu .item:focus svg {
    opacity:1;
}

/*Area for content Note: this will only scroll up+down, never left+right */
#content {
    overflow:hidden;
    font-family: "Dosis";
    position:relative;
}
.quiz_cont {
    padding:.5em;
    position: absolute;
    left: 0;
    right: 0;
    top: 4em;
    bottom: 0;
    overflow: auto;
}

#quiz_header {
    font-family:"Signika";
    width: 100%;
    background-color: #5dc0ab;
    height: 3em;
    color:white;
    padding:.5em;
    font-weight:600;
    font-size: 1.3em;
}

hr{
    margin: .25em 0;
    border: none;
    height: .15em;
}

.question{
    position: relative;
    border-top: .4em solid #ac7ea6;
    padding: 1em .5em;
    margin:0 auto;
    max-width:45em;
}

.quiz-navigation {
    margin:0 auto;
    margin-top:.5em;
    max-width: 45em;
}

.quiz-navigation .button:nth-child(odd) {
    margin-right: .25em;
}

.quiz-navigation .button:nth-child(even) {
    margin-left: .25em;
}

.quiz-navigation .button:hover {
    background-color: #332532;
}

.question .button {
    font-family: "Dosis";
    text-align: center;
    padding:.5em 1em;
    color: white;
    min-width: 12em;
    margin:.25em 0;
}

.question .button:not(.selected):hover {
    background-color: #17a587;
}

.stats {
    font-family: "Signika";
    font-weight: 300;
    font-size: 1.2em;
    width: 100%;

}

.stats .rank {
    background: #ddd;
    text-align: center;
}

.stats td {
    padding: .5em;
}

/*Leaderboard flexbox should be full width*/
#leaderboard {
    position:relative;
    width:100%;
    overflow-y:auto;
}

#leader-list {
    position:relative;
    flex-direction:row;
    height:auto;
    font-family: Dosis;
    font-weight: 300;
    font-size:1.25em;
    line-height: 26px;
}

/*Leaderboard's First Column*/
#leader-list > span:first-child {
    font-family: Signika;
    width:3em;
}

/*Leaderboard's last column*/
#leader-list > span:last-child {
    font-family: Signika;
    max-width:5em;
}

/*Columns children*/
#leader-list .row {
    padding: .5em 0;
    width: 5em;
    text-align:center;
    border-bottom:.1em solid #F0EAEF;
}
#leader-list .row.highlight {
    position:relative !important;
    color:#fffff5 !important;
    background-color: #17a587 !important;
    border:none !important;
    box-shadow: 1px 1px 2px rgba(73,73,73,.4) !important;
    z-index:2 !important;

}
/*Children in first column*/
#leader-list > span:first-child .row {
    background-color:#F0EAEF;
    border-bottom:.1em solid white;
    width:3em;
}

/*Last Child in the first column*/
#leader-list > span:first-child .row:last-child {
    border:none;
}

/*Children in middle column*/
#leader-list > span:nth-child(2) .row {
    width:100%;
    text-align:left;
    padding-left:1em;
}
/*Last child, middle column*/
#leader-list > span:nth-child(2) .row:last-child {
    border:none;
}
/*Last child, last column*/
#leader-list > span:nth-child(3) .row:last-child {
    border:none;
}

/*For the results page!!!*/
.question.no-interact .button {
    opacity:.4;
}
.question.no-interact .button.correct,  .question.no-interact .button.selected{
    opacity:1;
}
.question.no-interact .button.correct::before {
    position:absolute;
    left:.75em;
    top:.75em;
    display:block;
    height:1em;
    width:1em;
    content:"";
    background:url(../images/icon-check.svg);
    background-size: 1em 1em;
}
.question.no-interact .button.selected.incorrect::before {
    
    position:absolute;
    left:.75em;
    top:.75em;
    display:block;
    height:1em;
    width:1em;
    content:"";
    background:url(../images/icon-x.svg);
    background-size: 1em 1em;
}