@import url(http://fonts.googleapis.com/css?family=Signika:300,600);
@import url(http://fonts.googleapis.com/css?family=Dosis:200,300,500);

/*Convenience Classes */
.subtext {
    font-size:.7em;
    font-weight:300;
}

.left{
    float: left;
}

.right{
    float: right;
}

.tl{
    text-align: left;
}

.tr{
    text-align: right;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.shadow{
    box-shadow: 1px 1px 2px rgba(73,73,73,.4);
}

.flex {
    flex-grow: 1;
}

.logo {
    height:1em;
    color:#FFFFF5;
}

.hidden{
    opacity:0;
    pointer-events:none;
}

.center{
    text-align: center;
    width: 100%;
}

.button {
    font-family: "Dosis";
    text-align: center;
    padding:.5em 0;
    color: white;
    cursor: pointer;
}

/* Primary Teal */
.teal-dark {background-color: #17a587;}
.teal-medium {background-color: #5dc0ab;}
.teal-light {background-color: #a2dbcf;}

/* Secondary Purple */
.purple-dark {background-color:#a3709c;}
.purple-medium {background-color:#ac7ea6;}
.purple-light {background-color:#f1eaf0;}

/* Deep Plum */
.plum-dark {background-color: #332532;}
.plum-medium {background-color: #5c515b;}
.plum-light {background-color:#70666f;}

/*Text*/
.light-text {color:#fffff5;}

* {
    box-sizing: border-box;
}

body {
    position:absolute;
    top:0;
    left:0;
    margin: 0;
    padding:0;
    height:100%;
    width:100%;
}

#navbar {
    position:relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding:.75em;
    font-family:"Signika";
    font-weight:600;
    font-size: 2em;
    color: #fffff5;
    height: 2em;
    overflow: hidden;
    z-index:2;
}

#navbar .button {
    padding: .15em;
    height: 1em;
}

.notification {
    display:flex;
    height:3em;
    padding:.55em;
    font-family: "Dosis";
    font-weight:300;
}
.notification .close {
    font-size:1.25em;
    cursor:pointer;
    font-weight:600;
}


/*Area for content Note: this will only scroll up+down, never left+right */
#content {
    display:block;
    position:absolute;
    top:4em;  /*This has to match the navbar height i.e. 2x navbar em height value*/
    left:0;
    right:0;
    bottom:0;
    overflow-x:hidden;
    overflow-y:auto;
    font-family: "Dosis";
}

#quiz_header {
    font-family:"Signika";
    width: 100%;
    background-color: #5dc0ab;
    height: 3em;
    color:white;
    padding:.5em;
    font-weight:600;
    font-size: 1.3em;
}

.answer{
    position: relative;
    left: .5em;
    right: .5em;
    margin: 0.2em auto;
    max-width: 720px;
    min-width: 18em;
}

hr{
    margin: 0;
    border: none;
    height: .15em;
}

.question{
    position: relative;
    border-top: .4em solid #ac7ea6;
    padding: 1em .5em;
    margin:0 auto;
    max-width:45em;
    min-width:20em;
}

.quiz-navigation {
    margin:0 auto;
    margin-top:.5em;
    max-width: 45em;
    min-width:20em;
}
.quiz-navigation .button:nth-child(odd) {
    margin-right: .25em;
}
.quiz-navigation .button:nth-child(even) {
    margin-left: .25em;
}


.question .button {
    font-family: "Dosis";
    text-align: center;
    padding:.5em 0;
    color: white;
    min-width: 12.5em;
    margin:.25em;
}

.quiz_cont {
    padding:.5em;
}