textarea:focus, input:focus, div:focus, select:focus{
    outline: 0;
}

input {
    padding:0;
    margin:0;
}
[ng-click] {
    cursor:pointer;
}

#create_header {
    font-family:"Signika";
    width: 100%;
    background-color: #5dc0ab;
    color: #fffff5;
    font-weight:300;
    padding: 1em 3em;
    margin-bottom: 0.4em;
}

.text-input {
    border: none;
    border-color: transparent;
    border-bottom:solid .1em #fffff5;
    max-height: 2em;
    display: block;
    opacity:.7;
}
.text-input:focus {
    opacity:1;
}

#add-question{
    font-family: "Signika";
    font-weight: 300;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    padding: .5em;
    margin-bottom: 2rem;
    border-bottom: .15rem solid #f1eaf0;
    cursor:pointer;
}

#question {
    padding-bottom:2em;
    padding-top:1em;
    border-bottom:.15em solid #f1eaf0;
}

.question-text {
    height: auto; 
    width: 100%;
}

maker-question > span {
    font-family:"Dosis";
    padding: 0em 3em;
}

maker-question .flex:first-child > * {
    margin-bottom:.5em;
}

maker-question .text-input {
    border-bottom: solid 0.15rem #A19AA0;
    width: 100%;
    resize: vertical;
    font-weight: 300;
}

maker-question .text-input[ng-model="answer"]{
  float: right;
}

maker-question select {
    border: none;
    background: transparent;
    border-color: transparent;
    border-bottom:solid .1em #A19AA0;
    display: block;
}

maker-question input[type=range]{
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width:100%;
    padding: .5em 0em;
}

maker-question input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: .4em;
    background: #BF9BBA;
    border: none;
    border-radius: 5em;
}

maker-question input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background: #A3709C;
    margin-top: -.3em;
}

maker-question input[type=range]::-moz-range-track {
    width: 100%;
    height: .4em;
    background: #BF9BBA;
    border: none;
    border-radius: 5em;
}

maker-question input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    border: none;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background: #A3709C;
    margin-top: -.3em;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.2s ease; 
  opacity: 0;
}

.text-input.large {
    font-size: 1.3em;
    font-family: 'Signika';
}

#quiz_name::-webkit-input-placeholder  {
    color: #fffff5;
}

#quiz_name:-moz-placeholder { /* Firefox 18- */
    color: #fffff5;
}

#quiz_name::-moz-placeholder  {  /* Firefox 19+ */
    color: #fffff5;
}

#quiz_name:-ms-input-placeholder {
    color: #fffff5;
}

.nope {
    float: right;
    padding-left: 2em;
    padding-right: 2em;
    margin-right: 0.7em;
}

.popup {
    background-color: rgba(20,20,20,0.9);
    position:absolute;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    z-index: 100;
    -webkit-transform: scale(0) translateY(-80em);
    transform:scale(0) translateY(-80em);
    -webkit-transform-origin:bottom center;
    transform-origin:bottom center;
    transition:0s;
}

.popup.boxed {
    border: 0.1em solid #fffff5;
}

.card {
    margin:auto;
    padding: 1em;
    background: #332532;
}
.card .button {
    padding:0.5em 0;
    margin:.1em;
}
.card .button:nth-child(odd) {margin-right:.5em}
.card .button:nth-child(even) {margin-left: .5em}

.popup.visible {
    -webkit-transform: scale(1) translateY(0em);
    transform:scale(1) translateY(0em);
    transition:.5s;
}


/*------------------------------------------------------------------------------------------------*/

maker-question .answer-field {
  cursor: pointer;
  line-height: 2.5;
  font-size: 1em;
  align-items: center;
}

maker-question .add-choice {
    margin-left: 2.5em;
}

.radio, .check-box {
  width: 1em;
  height: 1em;
  border-radius: 0%;
  border: 0.125em solid #fff;
  box-shadow: 0 0 0 0.125em #999298;
  margin: 0.75em;
  transition: 0.3s ease all;
}

.radio {
    border-radius: 50%;
}

.checked {
  background: #17a587;
  box-shadow: 0 0 0 0.15em #17a587;
}

#publish-quiz-name {
    font-size: 1.5em;
}

.publish-header {
    font-family: "Signika";
    font-size: 1.25em;
    font-weight: 300;
}

.publish-input {
    padding-top: .5em;
    border: none;
    border-color: transparent;
    border-bottom: solid .15em #A19AA0;
    font-family: 'Signika';
    font-weight: 300;
}

.publish-send {
    width: 100%;
    font-weight: 300;
}

.publish-totals {
    text-align: center;
}

.publish-number {
    font-size: 3.5em;
    font-weight: 200;
}

.publish-overview {
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
    border-bottom:.15em solid #f1eaf0;
}

.publish-review {
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
}