textarea:focus, input:focus{
    outline: 0;
}

#create_header {
    font-family:"Signika";
    width: 100%;
    background-color: #5dc0ab;
    height: 3em;
    color: #fffff5;
    padding:.5em;
    font-weight:600;
    font-size: 1.3em;
    padding-bottom: 3em;
}

#quiz_name {
    border: none;
    border-color: transparent;
    border-bottom:solid 1px #fffff5;
    margin-top: .3em;
    margin-left: 3em;
    padding-left: 0.5em;
}

#quiz_name::-webkit-input-placeholder  {
    color: #fffff5;
}

#quiz_name:-moz-placeholder { /* Firefox 18- */
    color: #fffff5;
}

#quiz_name::-moz-placeholder  {  /* Firefox 19+ */
    color: #fffff5;
}

#quiz_name:-ms-input-placeholder {
    color: #fffff5;
}