#finishedQuizStats #overallStats {
	margin: 1em 2.5em;
    width:96%;
    max-width:85rem;
}
#finishedQuizStats .toolbar > span {
	margin-left: 2%;
	font-size:1.5rem;
	font-weight:600;
}

#finishedQuizStats .time {
	text-align: left;

}

#finishedQuizStats .vertical {
	justify-content: space-between;
}

#finishedQuizStats .largetext {
	font-size:5em;
	text-align:center;
	font-weight:200;
	line-height:.8;
}

#finishedQuizStats .subtext {
	font-family: Signika;
	font-size: 1em;
	margin-top: .5em;
}

#finishedQuizStats #overallStats > div {
	margin-left:4em;
}

#finishedQuizStats #overallStats > div:first-child {
	margin:0;
}

#finishedQuizStats .card {
	color: #332532;
	padding: .8em;
	font-family: Dosis;
}

#finishedQuizStats .card .answers{
	text-align: center;
}

#finishedQuizStats .card .category {
	font-family: Signika;
	font-size:1.2rem;
	font-weight:600;
}

#finishedQuizStats .card .answers .answer{
	max-width: 25%;
	color: #999298;
}

#finishedQuizStats .card .answers .correct{
	color: #17a587;
	font-weight: 500;
}

#finishedQuizStats .card .answers .points{
	font-size:4em;
	text-align:center;
	font-weight:200;
	line-height:.8;
}