#finishedQuizStats .toolbar > span {
	margin-left: 2%;
	font-size:1.5rem;
	font-weight:600;
}

#finishedQuizStats .time {
	text-align: left;

}

#finishedQuizStats .largetext {
	font-size:5em;
	text-align:center;
	font-weight:200;
	line-height:.8;
}

#finishedQuizStats .subtext {
	font-family: Signika;
	font-size: 1em;
	margin-top: .5em;
	text-align: center;
}

#finishedQuizStats .card {
	color: #332532;
	padding: .8em;
	font-family: Dosis;
}

#finishedQuizStats .point-value{
	opacity: 0.7;
}

#finishedQuizStats .answer-pad{
	padding: 1.5em 0;
}

#finishedQuizStats .card .answers{
	text-align: center;
}

#finishedQuizStats .card .category {
	font-family: Signika;
	font-size:1.2rem;
	font-weight:600;
}

#finishedQuizStats .card .answers .answer{
	max-width: 25%;
	color: #999298;
}

#finishedQuizStats .card .answers .answer-text{
	word-wrap: break-word;
}

#finishedQuizStats .card .answers .correct{
	color: #17a587;
}

#finishedQuizStats .card .answers .correct .answer-text{
	font-weight: 600;
}

#finishedQuizStats .card .answers .points{
	font-size:4em;
	text-align:center;
	font-weight:200;
	line-height:.8;
}

#finishedQuizStats .card .answers .matching-text{
	word-wrap: break-word;
	color: #fffff5;
	margin: auto;
	background-color: #a3709c;
	display: inline-block;
	padding: 0.2em 1em 0.2em 1em;
}