.header {
	font-family: Signika;
    font-weight: 600;
}

#sidebar {
    font-family:"Signika";
    font-weight:600;
    color: #111111;
    overflow: hidden;
    width: 15em;
}

#categoryBar {
    color: #fffff5;
    padding-top:0.8em;
    padding-bottom:0.8em;
    justify-content:space-around;
}
#categoryBar > span {
	font-size:1.5em;
	padding-left: 3em;
    padding-right: 3em;
    padding-bottom: .4em;
	cursor:pointer;
}

.selectedCategory {
     border-bottom: 0.2em solid #ac7ea6;
}
.categoryView {
	overflow-y:auto;
}