.scroller {
	overflow-y:auto;
}
.popover-wrapper {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	pointer-events: none;
}
.overlay {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	transition:.0s;
	opacity:0;
}
.overlay.open {
	opacity:.35;
	transition:.5s;
	pointer-events:auto;
}


.pop-over {
	position:relative;
	margin:auto;
	padding:1.5rem;
	width:25vw;
	height:33vh;
	min-width:35rem;
	max-height:15rem;
	background:white;
	color: #332532;
	-webkit-transform: scale(0) translateY(-80em);
	transform:scale(0) translateY(-80em);
	-webkit-transform-origin:bottom center;
	transform-origin:bottom center;
	transition:0s;
	pointer-events:auto;
}

.pop-over.open {
	-webkit-transform: scale(1) translateY(0em);
    transform:scale(1) translateY(0em);
    transition:.5s;
}

.pop-over .header {
	font-size:1.2em;
	font-family:dosis;
	font-weight:400;
}

.pop-over .divider {
	margin: .5em 0;
	height:2px;
}

.pop-over .sub-text {
	color: #5c515b;
	opacity: .8;
}

.pop-over .button-container {
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.2em;
}

.pop-over .button {
	text-transform: uppercase;
	color:#17a587;
	padding:.5em 1em;
	margin-left:.5em;
}
.pop-over .button:hover {
	background-color: #f1eaf0;
}

#finishedQuizzes {
	position:relative;
	z-index:3;
}

#categoryBar {
	z-index: 1;
}

#categoryContainer {
	color: #332532;
	font-family:Dosis;
	overflow-y: auto;
}

#categoryContainer .quizName {
	font-size:1.2em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#categoryContainer .finished{
	position:relative;
	border-bottom: 0.1em solid #f1eaf0;
	color: black;
	-webkit-align-items:center;
	align-items:center;
	height:4rem;
}

#categoryContainer .info {
	margin-left: 3.5em;
	overflow:hidden;
}

#categoryContainer .live-info {
	width: 21em;
}

#categoryContainer .time {
	text-align: left;
	height:100%;
}

#categoryContainer .time > div:nth-child(2) {
	font-family:Signika;
	font-weight:300;
	font-size:.8em;
	line-height:.4;
	margin-left: 2em;
}

#categoryContainer .info .subText {
	color: rgba(51,37,50,.8);
	font-size: .8em;
}

#categoryContainer .percent {
	font-weight: 200;
	font-size:2em;
	line-height:1.4;
}

#categoryContainer .percent-container {
	text-align: center;
	width: 18rem;
	height:100%;
	box-shadow: 0 -.1rem 0 0 white;
}

#categoryContainer .percent-container > div:nth-child(2) {
	font-family:Signika;
	font-weight:300;
	font-size:.8em;
	line-height:.4;
}