<quiz-notification ng-repeat="notification in notifications" is-even="$even" notification="notification"></quiz-notification>

<div id="statsContainer" class="teal-medium  light-text shadow">
	<div id="username">devin.kiser</div>
	<div id="userStats" class="flex-container horizontal">
		<div class="flex" >
			<div class="largeText">15</div>
			<div>quizzes complete</div>
		</div>
		<div class="flex">
			<div class="largeText">100%</div>
			<div>average score</div>
		</div>
		<div class="flex" >
			<div class="largeText">38</div>
			<div>photo matches</div>
		</div>
	</div>
</div>

<div id="leaderboard-title" class="teal-medium light-text shadow">Lifetime Snapshot</div>

<leaderboard id="leaderboard" class="flex-container flex vertical" current-user="currentUser" leaders="leaders" start="start"></leaderboard>
 