<div id="info-view">
	<div id="info-header">
		<div>Help us improve Qwizard!</div>
		<p>let us know what you think. feedback helps us create a better Qwizard</p>
	</div>
	<div id="info-buttons">
		<a href="#/feature" class="button teal-medium shadow noselect">request feature</a>
		<a href="#/bug" class="button teal-medium shadow noselect">report bug</a>
	</div>

	<div id="info-content" class="flex-container horizontal">
		<div class="info-item">
			<h2>About Qwizard</h2>
			<p>
				Qwizard is a web app that allows users to participate in fun, company-related quizzes. The app is being developed by the 2015 Qwizard Summer Intern Team. It works with all modern browsers.
			</p>
		</div>
		<div class="info-item">
			<h2>How does it work?</h2>
			<p>
				Try to do your best on quizzes to accumulate as many points as possible. Make sure you enter your hours in Ace before 9:00 AM the next day to receive 2 bonus points. Players at the top of the leaderboard for each round of quizzes will have a chance to win a prize! 
			</p>
		</div>
		<div class="info-item">
			<h2>I hear there are prizes!</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		<div class="info-item">
			<h2>Who makes the quizzes?</h2>
			<p>
				Management and the 2015 intern team. For now!
			</p>
		</div>
		<div class="info-item">
			<h2>One of the questions has the wrong answer!</h2>
			<p>
				If you feel a question has a wrong answer, report it as a bug.
			</p>
		</div>
		<div class="info-item">

		</div>
	</div>
</div>`