<div id="info-view">
	<div id="info-header">
		<div>Help us improve Qwizard</div>
		<p>let us know what you think. feedback helps us create a better Qwizard</p>
	</div>
	<div style="text-align:center">
		<span class="button teal-medium shadow">request feature</span>
		<span class="button teal-medium shadow">report bug</span>
	</div>

	<div id="info-content" class="flex-container horizontal">
		<div style="height:300px; width:45%; min-width:18em;" class="purple-dark">1</div>
		<div style="height:300px; width:45%; min-width:18em;" class="purple-dark">2</div>
		<div style="height:300px; width:45%; min-width:18em;" class="purple-dark">3</div>
		<div style="height:300px; width:45%; min-width:18em;" class="purple-dark">4</div>
	</div>
</div>