<div id="info-view">
	<div id="info-header">
		<div>Help us improve Qwizard</div>
		<p>let us know what you think. feedback helps us create a better Qwizard</p>
	</div>
	<div id="info-buttons">
		<a href="#/feature" class="button teal-medium shadow noselect">request feature</a>
		<a href="#/bug" class="button teal-medium shadow noselect">report bug</a>
	</div>

	<div id="info-content" class="flex-container horizontal">
		<div style="width:45%; min-width:18em;">
			<h2>About Qwizard</h2>
			<p>
				Qwizard is a web app that allows users to participate in fun company related quizzes. The app is being developed by the 2015 Qwizard Summer Intern Team. It works with all modern browsers.
			</p>
		</div>
		<div style="width:45%; min-width:18em;">
			<h2>How does it work?</h2>
			<p>
				In case you didn't get it the first time...Qwizard is a web app that allows users to participate in fun company related quizzes. The app is being developed by the 2015 Qwizard Summer Intern Team. It works with all modern browsers.
			</p>
		</div>
		<div style="width:45%; min-width:18em;">
			<h2>I hear there are prizes?</h2>
			<p>
				No Duh. Website for dummies. No. I want a cool website. Don't call me. Qwizard is a web app that allows users to participate in fun company related quizzes. The app is being developed by the 2015 Qwizard Summer Intern Team. It works with all modern browsers.
			</p>
		</div>
		<div style="width:45%; min-width:18em;">
			<h2>Who makes the quizzes?</h2>
			<p>
				Mike Does. Qwizard is a web app that allows users to participate in fun company related quizzes. The app is being developed by the 2015 Qwizard Summer Intern Team. It works with all modern browsers.
			</p>
		</div>
		<div style="width:45%; min-width:18em;">
			<h2>One of the questions has the wrong answer!</h2>
			<p>
				Insert Lorem Ipsum text here. Qwizard is a web app that allows users to participate in fun company related quizzes. The app is being developed by the 2015 Qwizard Summer Intern Team. It works with all modern browsers.
			</p>
		</div>
		<div style="width:45%; min-width:18em;">

		</div>
	</div>
</div>`