<div style="z-index:3" class="flex-container horizontal shadow">
    <span id="thisWeek" class="flex leaderMenu button noselect" ng-click="toggleBoard(3)" ng-class="{'selectedBoard':selectedBoard==3}">Weekly</span>
    <span id="thisMonth" class="flex leaderMenu button noselect" ng-click="toggleBoard(2)" ng-class="{'selectedBoard':selectedBoard==2}">Monthly</span>
    <span id="allTime" class="flex leaderMenu button noselect" ng-click="toggleBoard(1)" ng-class="{'selectedBoard':selectedBoard==1}">All Time</span>
</div>
<leaderboard id="leaderboard" class="flex-container flex vertical" leaders="leaders" start="start"></leaderboard>