<div id="liveQuizzes" class="teal-dark light-text shadow" ng-show="live.length">
	<div class="header">live quizzes</div>
	<a ng-repeat="quiz in live" href='#/quiz/{{quiz.id}}'>
		<div class="liveQuiz teal-dark flex-container horizontal spacer">
			<div>
				<div class="quizName">{{quiz.title}}</div>
				<div class="time">{{getTimeLeft(quiz.results)}}</div>
				<div class="subText">until quiz close</div>
			</div>
			<div class="flex spacer"></div>
			<div class="flex icon arrow"></div>
		</div>
	</a>
</div>
<div id="results">
	<div class="header teal-medium light-text">Results</div>
	<a ng-repeat="quiz in taken" href='#/results/{{quiz.id}}'>
		<div class="takenQuiz flex-container horizontal spacer">
			<span class="result-1">
				<div class="dot-container">
					<div class="dot teal-medium" ng-hide="quiz.viewed"></div>
				</div>
				<div class="info">
					<div class="quizName">{{quiz.title}}</div>
					<div class="subText">{{getDateRange(quiz.publish, quiz.results)}}</div>
				</div>
			</span>
			<div class="flex spacer result-1"></div>
			<div class="purple-light point-container">
				<div class="points">{{quiz.points}}</div>
				points
			</div>
		</div>
	</a>
</div>