<div id="liveQuizzes" class="teal-dark light-text shadow" ng-show="live.length">
	<div class="header">live quizzes</div>
	<div style="max-height: 10rem" class="scroller">
		<a ng-repeat="quiz in live" href='#/quiz/{{quiz.id}}'>
			<div class="liveQuiz teal-dark flex-container horizontal spacer">
				<div>
					<div class="quizName">{{quiz.title}}</div>
					<div class="time">{{getTimeLeft(quiz.results)}}</div>
					<div class="subText">until quiz close</div>
				</div>
				<div class="flex spacer"></div>
				<div class="flex icon arrow"></div>
			</div>
		</a>
	</div>
</div>
<div id="results" class="flex flex-container vertical">
	<div class="header teal-medium light-text shadow">Results</div>
	<div class="flex scroller">
		<a ng-repeat="quiz in taken" class="flex-container horizontal result" href='#/finished/{{quiz.id}}'>
			<div class="dot teal-medium" ng-class="{viewed: quiz.viewed}"></div>
			<div class="info flex">
				<div class="quizName">{{quiz.title}}</div>
				<div class="subText">{{getDateRange(quiz.publish, quiz.results)}}</div>
			</div>
			<div class="purple-light point-container">
				<div class="points">{{(quiz.points == null) ? "--" : quiz.points}}</div>
				<div>points</div>
			</div>
		</a>
	</div>
</div>