<div id="quizView">
  <div id="quiz_header">
      <div>{{name}}</div>
      <div class="subtext">{{currentQuestion + 1}} of {{questions.length}}</div>
  </div>
  <div class="quiz_cont">
      <div ng-repeat="question in questions" class="question shadow" ng-show="$index == currentQuestion">
          <question 
                text="question.text"
                name="question.name"
                answers="question.answers"
                type="question.type"
                selected="question.selected"></question>
      </div>
      <div class="flex-container quiz-navigation">
          <span ng-click="prev()" ng-class="{hidden: !currentQuestion}" class="plum-medium nav-btn flex shadow button noselect light-text" style="width:.1px">previous</span>
          <span ng-click="next()" ng-class="{remove: currentQuestion == questions.length - 1}" class="plum-medium flex shadow button noselect light-text" style="width:.1px">next</span>
          <span class="remove" id="DONT_DELETE_ME"></span>
          <span ng-click="submit()" ng-class="{remove: !(currentQuestion == questions.length - 1)}" class="plum-medium flex shadow button noselect light-text" style="width:.1px">submit</span>
      </div>
  </div>
</div>
