<span class="flex flex-container horizontal noselect" style="-webkit-justify-content: space-between; justify-content:space-between;">
	<div style="width: 48%; min-width: 10em; max-width: 25em" class="flex-container horizontal answer-field" ng-repeat="answer in possibleAnswers track by $index">
		<div  class="flex">
			<input placeholder="Clue" ng-model="matchingClues[$index]" ng-change='buildAnswers()' class="text-input clue" maxlength="25">
			<div class="maAnswer">
				<input placeholder="Answer" ng-model="matchingAnswers[$index]" ng-change='buildAnswers()' class="text-input" maxlength="25">
			</div>
		</div>
	</div>	
</span>