<span class="flex noselect">
	<input ng-model="questionName" class="text-input large" type="text" placeholder="Category" maxlength="20"/>
	<select ng-model="questionType" class="text-input" ng-change="setQuestionDefaults()">
		<option disabled selected value="">Select a question type</option>
		<option value="tf">True/False</option>
		<option value="mc">Multiple Choice</option>
		<option value="ms">Multiple Select</option>
		<option value="ma">Matching</option>
	</select>
	<textarea ng-model="questionText" value="questionText" class="text-input question-text" maxlength="150" placeholder="Question Text"></textarea>
	<span class="point-display">Points: {{points}}</span>
	<input type="range" ng-model="points" value="points" min="0" max="10"></slider>
</span>
<span class="flex noselect" ng-hide="questionType"></span>
<span class="flex noselect" ng-show="questionType=='tf'">
	<span class="flex-container horizontal answer-field">
		<span class="radio" ng-class="{checked: correctAnswer[0]==0}" ng-click="tf(0)"></span>
		<span class="flex">True</span>
	</span>
	<span class="flex-container horizontal answer-field">
		<span class="radio" ng-class="{checked: correctAnswer[0]==1}" ng-click="tf(1)"></span>
		<span class="flex">False</span>
	</span>
</span>
<span class="flex noselect" ng-show="questionType=='mc'">
	<span style="flex-wrap:no-wrap;" class="flex-container horizontal answer-field" ng-repeat="answer in possibleAnswers track by $index">
		<span class="radio" ng-class="{checked: correctAnswer[0]==$index}" ng-click="mc($index)"></span>
		<input placeholder="Choice {{$index + 1}}" name="choice{{$id}}" ng-model="possibleAnswers[$index]" class="text-input flex" maxlength="50">
	</span>
	<div class="add-choice" ng-click="addOption()" ng-hide="maxedOut">Add Another Choice +</div>
</span>

<span class="flex noselect" ng-show="questionType=='ms'">
	<span style="flex-wrap:no-wrap;" class="flex-container horizontal answer-field" ng-repeat="answer in possibleAnswers track by $index">
		<span class="check-box" ng-class="{checked: correctAnswer.indexOf($index) > -1}" ng-click="ms($index)"></span>
		<input placeholder="Answer Option" ng-model="possibleAnswers[$index]" class="text-input flex msText" maxlength="50">
	</span>
	<div class="add-choice" ng-click="addOption()" ng-hide="maxedOut">Add Another Choice +</div>
</span>

<span class="flex noselect" ng-show="questionType=='ma'">
	<span style="flex-wrap:no-wrap;" class="flex-container horizontal answer-field" ng-repeat="answer in possibleAnswers track by $index">
		<input placeholder="Clue" ng-model="matchingClues[$index]" ng-change='buildAnswers()' class="text-input flex maText clue" maxlength="50">
		<input placeholder="Answer" ng-model="matchingAnswers[$index]" ng-change='buildAnswers()' class="text-input flex maText answer" maxlength="50">
	</span>
</span>