<span class="flex noselect">
	<input ng-model="questionName" class="text-input large" type="text" placeholder="Question Name"/>
	<select ng-model="questionType" class="text-input">
		<option disabled selected value="">Select a question type</option>
		<option value="tf">True/False</option>
		<option value="mc">Multiple Choice</option>
		<option value="ms">Multiple Select</option>
	</select>
	<textarea ng-model="questionText" class="text-input" type="text" placeholder="Question Text"></textarea>
	<span>Points: {{points}}</span>
	<input type="range" ng-model="points" value="points" min="1" max="5"></slider>
</span>
<span class="flex noselect" ng-hide="questionType"></span>
<span class="flex noselect" ng-show="questionType=='tf'">
		<label for="true-{{index}}">
    		<input 	ng-checked="!correctAnswer[0]"
    				type="radio" 
    				ng-click="tf(0)"
    				id="true-{{index}}" > <span>True</span>
  		</label>
	  	<label for="false-{{index}}">
	    	<input 	ng-checked="correctAnswer[0]" 
	    			type="radio"
	    			ng-click="tf(1)"
	    			id="false-{{index}}"> <span>False</span>
	  	</label>
</span>
<span class="flex noselect" ng-show="questionType=='mc'">I'm an mc</span>
<span class="flex noselect" ng-show="questionType=='ms'">I'm an ms</span>
