<div class="shadow card">
       <div class="category">{{question.category}}</div>
       <div class="point-value">{{type[question.type]}} - Points {{question.points}}</div>
       <div class="question-text">{{question.text}}</div>
       <div class="answer-pad">
              <div class="answers flex-container">
              		<div ng-repeat="answer in question.answers" 
              			class="flex horizontal answer" 
                                   ng-class="{correct: question.correct.indexOf($index) !== -1}">
                                   <div ng-hide="isMatching || isPhoto" class="answer-text">{{answer}}</div>
                                   <img ng-show="isPhoto" 
                                        class="answer-text" 
                                        src="../images/employees/{{answer.split(':')[0]}}.jpg">
              			<div ng-show="isMatching" class="answer-text">{{answer.split(":")[0]}}</div>
                                   <div ng-show="isMatching || isPhoto" class="matching-text">{{answer.split(":")[1]}}</div>
              		</div>
              </div>
              <div class="answers flex-container">
                            <div ng-repeat="answer in question.answers" 
                                    class="flex horizontal answer">
                                   <div class="points"
                                        ng-class="{correct: question.correct.indexOf($index) !== -1}">
                                   {{question.responses[$index]}}</div>
                                   <div>response{{(question.responses[$index] != 1) ? "s" : ""}}</div>
                            </div>
              </div>
       </div>
</div>